/* Basic resets and styling */
:root{
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font-family: monospace;
    box-sizing: border-box;
}

@font-face {
    font-family: monospace;
    src: url(fonts/Space_Mono/SpaceMono-Regular.ttf);
}

@font-face {
    font-family: montserrat;    
    src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

button {
    appearance: none;
    border: 1px solid black;
    margin: 0;
    padding: 10px 30px;
    margin-left: 10px;
    font-family: montserrat;
    font-weight: 600;
    background-color: white;
}

button:active{
    transform: translateY(2px);
    color: yellow;
}

ul{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

ul > li {
    list-style-type: none;
}

p {
    margin-block-end: 0;
    margin-block-start: 0;
}

body{
    margin-top: 0;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited{
    color: inherit;
}

a:hover{
    color: rgb(225, 225, 0);
}

h1, h2, h3{
    margin-block-start: 0;
    margin-block-end: 0;
}

h1{
    font-weight: 500;
    font-family: montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Container */

.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: 1fr;
    height: 100vh;
}

/* Sidebar */

.sidebar {
    grid-row: 1 / 6;
    display: grid;
    align-content: start;
    gap: 3em;
    justify-content: center;
    background-color: black;
    margin-left: -10px;
    color: white;
    padding: 2em;
}

.sidebar > ul > li {
    display: flex;
    align-items: center;
    gap: 1em;
    font-family: montserrat;
    font-weight: 500;
    margin-bottom: 10px;
}

.sidebar li > img {
    width: 25px;
    height: auto;
}

.logo{
    display: flex;
    gap: 1em;
}

.logo img {
    width: 30px;
    height: auto;
}


/* Content area */ 

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-auto-rows: 1fr;
    gap: 10px 20px;
    padding: 3em;
}

.projects{
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: 1fr;
    gap: 20px;
    position: relative;
}

.projects::before{
    content: "Your Projects";
}

.projects > div {
    background-color: white;
    border: 1px solid black;
    text-align: center;
}

.project {
    position: relative;
    padding: 3em;
}
.project > p {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}
.project img {
    width: 300px;
    height: 200px;
}
.fav, .share, .save {
    position: absolute;
    width: 20px;
    height: auto;
    bottom: 5px;
    right: 10px;
}

.share{
    content: url(icons/share-variant-outline.svg);
}

.save{
    content: url(icons/star-plus-outline.svg);
    right: 40px;
}

.fav{
    content: url(icons/eye-plus-outline.svg);
    right: 70px;
}

/* Header */ 
    display: flex;
}
.announcements, .trending{
    display: grid;
}
.search {
    border: 1px solid black;
    border-radius: 50px;
    height: 20px;
    width: 400px;
    position: relative;
    margin-left: 1.2em;
}
.search::before{
    position: absolute;
    content: url(magnify.svg);
    left: -20px;
    width: 20px;
    height: auto;
}
#dash-logo{
    letter-spacing: 0.25rem;
    font: 800 40px Arial;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
}
button {
    appearance: none;
    border: 1px solid black;
    margin: 0;
    padding: 10px 30px;
    margin-right: 10px;
    font-family: montserrat;
    font-weight: 600;
    background-color: white;
}
button:active{
    transform: translateY(2px);
    color: yellow;
}